[submodule "lib/AikaPi"]
	path = lib/AikaPi
	url = https://github.com/glenbenatiro/AikaPi
[submodule "lib/AD9833"]
	path = lib/AD9833
	url = https://github.com/glenbenatiro/AD9833
[submodule "lib/MCP4XXX"]
	path = lib/MCP4XXX
	url = https://github.com/glenbenatiro/MCP4XXX
[submodule "lib/MCP23S17"]
	path = lib/MCP23S17
	url = https://github.com/glenbenatiro/MCP23S17
